<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_mk1000_arm">

  <xacro:arg name="arm_id" default="fr3" />
  <xacro:arg name="left_prefix" default="mk1000_" />
  <xacro:arg name="hand" default="true" />
  <xacro:arg name="dual" default="false" />

  <xacro:property name="arm_id" value="$(arg arm_id)" />
  <xacro:property name="left_prefix" value="$(arg left_prefix)" />


  <!-- Load arm models -->
  <xacro:include filename="$(find mk1000_franka_fr3_moveit_config)/srdf/fr3_arm.xacro" />
  <xacro:fr3_arm arm_id="${arm_id}" prefix="${left_prefix}" />


  <!-- Load grippers and hands if hand is true -->
  <xacro:if value="$(arg hand)">
    <xacro:include filename="$(find mk1000_franka_fr3_moveit_config)/srdf/hand.xacro" />
    <xacro:hand arm_id="${arm_id}" prefix="${left_prefix}" />
    <xacro:include filename="$(find mk1000_franka_fr3_moveit_config)/srdf/fr3_arm_hand.xacro" />
    <xacro:fr3_arm_hand arm_id="${arm_id}" prefix="${left_prefix}" />
  </xacro:if>


 <disable_collisions link1="base_link" link2="body_camera_link" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="laser_F_link" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="laser_LB_link" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="laser_RB_link" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="lidar_link" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="mk1000_fr3_link0" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="mk1000_fr3_link1" reason="Never"/>
    <disable_collisions link1="base_link" link2="mk1000_fr3_link2" reason="Never"/>
    <disable_collisions link1="base_link" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="base_link" link2="wheel_LB_link" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="wheel_LF_LINK" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="wheel_RB_link" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="wheel_RF_link" reason="Adjacent"/>
    <disable_collisions link1="body_camera_link" link2="laser_F_link" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="laser_LB_link" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="laser_RB_link" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="lidar_link" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="mk1000_fr3_leftfinger" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="mk1000_fr3_link0" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="mk1000_fr3_link1" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="mk1000_fr3_link2" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="body_camera_link" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="camera_link" reason="Adjacent"/>
    <disable_collisions link1="camera_bracket" link2="laser_F_link" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="laser_LB_link" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="laser_RB_link" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_hand" reason="Adjacent"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_leftfinger" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_link7" reason="Adjacent"/>
    <disable_collisions link1="camera_bracket" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="camera_bracket" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="camera_link" link2="laser_F_link" reason="Never"/>
    <disable_collisions link1="camera_link" link2="laser_LB_link" reason="Never"/>
    <disable_collisions link1="camera_link" link2="laser_RB_link" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_hand" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_leftfinger" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="camera_link" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="camera_link" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="camera_link" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="camera_link" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="camera_link" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="laser_LB_link" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="laser_RB_link" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="lidar_link" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_hand" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_leftfinger" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link0" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link1" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link2" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="laser_F_link" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="laser_RB_link" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="lidar_link" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_hand" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_leftfinger" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link0" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link1" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link2" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="laser_LB_link" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="lidar_link" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_hand" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_leftfinger" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link0" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link1" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link2" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="laser_RB_link" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="mk1000_fr3_link0" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="mk1000_fr3_link1" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="mk1000_fr3_link2" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="lidar_link" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="mk1000_fr3_leftfinger" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="mk1000_fr3_link7" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="mk1000_fr3_rightfinger" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_hand" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="mk1000_fr3_rightfinger" reason="Default"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_leftfinger" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="mk1000_fr3_link1" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="mk1000_fr3_link2" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link0" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link1" link2="mk1000_fr3_link2" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_link1" link2="mk1000_fr3_link3" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link1" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link1" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link1" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link1" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link1" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link2" link2="mk1000_fr3_link3" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_link2" link2="mk1000_fr3_link4" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link2" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link2" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link2" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link2" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="mk1000_fr3_link4" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="mk1000_fr3_link5" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link3" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="mk1000_fr3_link5" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="mk1000_fr3_link6" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link4" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link5" link2="mk1000_fr3_link6" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_link5" link2="mk1000_fr3_link7" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link5" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link5" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link5" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link5" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link5" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link6" link2="mk1000_fr3_link7" reason="Adjacent"/>
    <disable_collisions link1="mk1000_fr3_link6" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link6" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link6" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link6" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link6" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link7" link2="mk1000_fr3_rightfinger" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link7" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link7" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link7" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_link7" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_rightfinger" link2="wheel_LB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_rightfinger" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_rightfinger" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="mk1000_fr3_rightfinger" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="wheel_LB_link" link2="wheel_LF_LINK" reason="Never"/>
    <disable_collisions link1="wheel_LB_link" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="wheel_LB_link" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="wheel_LF_LINK" link2="wheel_RB_link" reason="Never"/>
    <disable_collisions link1="wheel_LF_LINK" link2="wheel_RF_link" reason="Never"/>
    <disable_collisions link1="wheel_RB_link" link2="wheel_RF_link" reason="Never"/>
</robot>